@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
    text-decoration: none;
    box-sizing: border-box;
}
input:checked ~ body {
    filter: brightness(50%);
}
.slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    transform: translateX(-250px);
    transition: transform 0.5s ease;
    z-index: 999;
}
h1 {
    color: #333;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul li {
    list-style: none;
}
ul li a {
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2 ease-out;
}
ul li:hover a {
    color: #ccc;
    background-color: gray;
}
ul li a i {
    width: 40px;
    text-align: center;
}
input {
    display: none;
    visibility: hidden;
    
}
.toggle {
    position: fixed;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 5px; 
    background-color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    padding: 5px; 
}
.toggle .common {
    height: 2px; 
    width: 20px; 
    background-color: white;
    border-radius: 50px;
    transition: 0.3s ease;
}
input:checked ~ .toggle .top_line {
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line {
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.image-container {
    background-color: #f0f0f0;
    height: 100vh; 
    position: relative; 
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: none;
}
.overlay-image {
    max-width: 40%;
    height: auto;
    object-fit: contain;
    z-index: 3;
}
.overlay-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 3;
}
.overlay-button:hover {
    background-color: #bcb8b6;
    color: white;
}
header{
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header h2{
    color: black;
}
.navbar {
    cursor: pointer;
    font-size: 16px;
    transition:  0.3s;
    padding-top: 5px;
}
#button{
    width: 70px;
    height: 25px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 47.5px;
}
#button:hover {
    background-color: grey;
    color: white;
}
.recommended-title {
    text-align: left;
    font-size: 35px; 
    font-weight: bold;
    margin-top: 20px; 
    margin-left: 50px;
    color: black; 
    font-family: 'Poppins', sans-serif;
}
.anklet-gallery {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px; 
    width: 100%;
    margin: 0px auto; 
    padding: 0%;
    padding-left: 20px;
}
.anklet-gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0;
    display: block;
}
.anklet-gallery img:hover {
    transform: scale(1.05); 
}
.bracelet-gallery {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px; 
    width: 100%;
    margin: 0px auto; 
    padding: 0%;
    padding-left: 20px;
}
.bracelet-gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0;
    display: block;
}
.bracelet-gallery img:hover {
    transform: scale(1.05); 
}
.JewelrySet-gallery {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px; 
    width: 100%;
    margin: 0px auto; 
    padding: 0%;
    padding-left: 20px;
}
.JewelrySet-gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0;
    display: block;
}
.JewelrySet-gallery img:hover {
    transform: scale(1.05); 
}
.earring-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px;
    width: 100%; 
    margin: 0%; 
    padding: 0%;
    padding-left: 20px;
}
.earring-gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0%;
    display: block;
}
.earring-gallery img:hover {
    transform: scale(1.05); 
}
.other-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px;
    width: 100%; 
    margin: 0%; 
    padding: 0%;
    padding-left: 20px;
}
.other-gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0%;
    display: block;
}
.other-gallery img:hover {
    transform: scale(1.05); 
}
.Necklace-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px;
    width: 100%; 
    margin: 0%; 
    padding: 0%;
    padding-left: 20px;
}
.Necklace-gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0%;
    display: block;
}
.Necklace-gallery img:hover {
    transform: scale(1.05); 
}
.Ring-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px;
    width: 100%; 
    margin: 0%; 
    padding: 0%;
    padding-left: 20px;
}
.Ring-gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin: 0%;
    display: block;
}
.Ring-gallery img:hover {
    transform: scale(1.05);
}
.price {
    display: block;
    margin-top: 8px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #333;
}
.product-box {
    position: relative;
    display: inline-block;
    width: 250px; 
    height: 350px; 
    margin: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    overflow: hidden; 
}

.product-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.product-info {
    margin-top: 10px; 
    text-align: left;
}

.product-info h4 {
    font-size: 14px;
    line-height: 1.5;
    overflow: visible; 
    text-overflow: unset; 
    white-space: normal; 
}

.price, .rating, .cart-button {
    margin-top: 5px;
}

.product-box:hover {
    transform: scale(1.05);
}


.star {
    color: #f1c40f; 
    font-size: 18px; 
}
.star:last-child {
    color: #ccc; 
}
.cart-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}
.cart-button.cart {
    color: #e74c3c;  
}
.cart-button:hover {
    color: grey;
}
.product-gallery {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
}
html {
    scroll-behavior: smooth;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.scroll-container {
    width: 80%;
    margin: 20px auto;
    height: 200px; 
    overflow: hidden;
    font-size: 30px;
    padding: 10px;
    position: relative;
}
.scroll-content {
    position: absolute;
    animation: scroll-up 10s linear infinite; 
    white-space: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #bcb8b6; 
}
.text-upper-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    z-index: 10;
}
p{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.about-text{
    text-align: center;
    font-size: 35px; 
    font-weight: bold;
    margin-top: 20px; 
    margin-left: 50px;
    color: #333; 
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
}
html {
    scroll-behavior: smooth; 
}
section{
    height: 100vh;
    padding: 20px;
}
#dashboard {
    height: 100vh; 
    background-color: #bcb8b6; 
    padding: 20px;
}
