* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    min-height: 90vh;
    background-image: url(image/mikanabg.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 600px;
    background: #f7e8e4;
    padding: 90px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 20px;
    color: rgb(244, 69, 69);
    font-weight: 600;
    letter-spacing: .3px;
    position: relative;
    text-align: center;
}

.message,
.signIn {
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

.signIn a {
    color: rgb(244, 69, 69);
    text-decoration: none;
    transition: .3s;
}

.userInput {
    display: flex;
    width: 100%;
    gap: 25px; 
}

.form label {
    position: relative;
    flex: 1;  
}

.form label input {
    width: 100%; 
    padding: 10px 10px 20px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.form span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(244, 69, 69);
    font-size: 0.9em;
    cursor: text;
    transition: .3s ease;
}

.form label input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label input:focus + span,
.form label input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label input:valid + span {
    color: rgb(244, 69, 69);
}

.submit {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: rgb(244, 181, 181); 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: 400;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    line-height: normal;
    border: none;
}

.submit:hover {
    background: rgb(243, 167, 167);
    transition: .4s ease;
}
